<nav class="green">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">BB</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/teams">Teams</a>
            </li>
            <li>
                <a href="/players">Players</a>
            </li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/teams">Teams</a>
    </li>
    <li>
        <a href="/players">Players</a>
    </li>
</ul>